@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EmpleadoViewModel>

@{
    ViewData["Title"] = "Lista de Empleados";
}

<h2>Empleados Registrados</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Género</th>
            <th>Teléfono</th>
            <th>Fecha de Inicio</th>
            <th>Salario</th>
            <th>Estado</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.ID_EMPLEADO</td>
                <td>@emp.NOMBRE_EMPLEADO</td>
                <td>@emp.CEDULA_EMPLEADO</td>
                <td>@emp.GENERO</td>
                <td>@emp.TELEFONO_EMPLEADO</td>
                <td>@emp.FECHA_INICIO.ToString("dd/MM/yyyy")</td>
                <td>@emp.SALARIO_EMPLEADO.ToString("C")</td>
                <td>@emp.ESTADO</td>
				<td>@emp.NOMBRE_CARGO</td>
				<td>@emp.NOMBRE_DEPARTAMENTO</td>

                <td>
                    <a asp-action="Editar" asp-route-id="@emp.ID_EMPLEADO" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@emp.ID_EMPLEADO" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Exportar", "Empleado")" class="btn btn-link">
    <i class="fa fa-file-csv"></i> Exportar a .csv
</a>
